/*
$media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
@media (min-width: 1025px) {
  .header {
    background-color: #ffffff;
    border-bottom: 1px solid #eff0f6; }
    .header--fixed:not(.subheader--fixed) .header {
      border-bottom: 0;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
      box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1); }
    .header .header-menu .menu__nav > .menu__item > .menu__link {
      border-radius: 4px !important; }
      .header .header-menu .menu__nav > .menu__item > .menu__link .menu__link-text {
        color: #6c7293;
        font-weight: 500; }
      .header .header-menu .menu__nav > .menu__item > .menu__link .menu__hor-arrow {
        color: #c8cde8; }
      .header .header-menu .menu__nav > .menu__item > .menu__link .menu__hor-icon {
        color: #c8cde8; }
    .header .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link, .header .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link, .header .header-menu .menu__nav > .menu__item:hover > .menu__link {
      background-color: rgba(77, 89, 149, 0.06); }
      .header .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__link-text, .header .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__link-text, .header .header-menu .menu__nav > .menu__item:hover > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__hor-arrow, .header .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__hor-arrow, .header .header-menu .menu__nav > .menu__item:hover > .menu__link .menu__hor-arrow {
        color: #5d78ff; }
      .header .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__hor-icon, .header .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__hor-icon, .header .header-menu .menu__nav > .menu__item:hover > .menu__link .menu__hor-icon {
        color: #5d78ff; } }

.aside-secondary--enabled .header .header__topbar {
  padding-right: 0; }

.header .header__topbar .header__topbar-item .header__topbar-icon i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #c8cad5; }

.header .header__topbar .header__topbar-item .header__topbar-icon svg g [fill] {
  fill: #5d78ff; }

.header .header__topbar .header__topbar-item.header__topbar-item--user .header__topbar-user .header__topbar-welcome {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #959cb6; }

.header .header__topbar .header__topbar-item.header__topbar-item--user .header__topbar-user .header__topbar-username {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #6c7293; }

.header .header__topbar .header__topbar-item.header__topbar-item--user .header__topbar-user .badge.badge--username {
  height: 35px;
  width: 35px;
  font-size: 1.4rem;
  font-weight: 600; }

.header .header__topbar .header__topbar-item.header__topbar-item--quick-panel .header__topbar-icon i {
  color: #c8cad5; }

.header .header__topbar .header__topbar-item:hover .header__topbar-icon, .header .header__topbar .header__topbar-item.show .header__topbar-icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(77, 89, 149, 0.06); }
  .header .header__topbar .header__topbar-item:hover .header__topbar-icon i, .header .header__topbar .header__topbar-item.show .header__topbar-icon i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #5d78ff; }

.header .header__topbar .header__topbar-item:hover.header__topbar-item--user .header__topbar-user, .header .header__topbar .header__topbar-item.show.header__topbar-item--user .header__topbar-user {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(77, 89, 149, 0.06); }

.aside-secondary--enabled .header .header__topbar .header__topbar-item:hover.header__topbar-item--quick-panel, .aside-secondary--enabled .header .header__topbar .header__topbar-item.show.header__topbar-item--quick-panel {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #5d78ff; }
  .aside-secondary--enabled .header .header__topbar .header__topbar-item:hover.header__topbar-item--quick-panel .header__topbar-icon, .aside-secondary--enabled .header .header__topbar .header__topbar-item.show.header__topbar-item--quick-panel .header__topbar-icon {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent !important; }
    .aside-secondary--enabled .header .header__topbar .header__topbar-item:hover.header__topbar-item--quick-panel .header__topbar-icon i, .aside-secondary--enabled .header .header__topbar .header__topbar-item.show.header__topbar-item--quick-panel .header__topbar-icon i {
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: #ffffff; }

.header .header__topbar .header__topbar-item.header__topbar-item--search .input-icon .input-icon__icon i {
  color: #a7abc3; }

@media (max-width: 1024px) {
  .header__topbar {
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .header__topbar--mobile-on .header__topbar {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    border-top: 1px solid #ebedf2; } }
