/*
$media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
@media (min-width: 1025px) {
  .header-menu .menu__nav > .menu__item > .menu__link {
    background-color: none; }
    .header-menu .menu__nav > .menu__item > .menu__link .menu__link-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item > .menu__link .menu__link-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
      background-color: #9096b8; }
    .header-menu .menu__nav > .menu__item > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
      background-color: #9096b8; }
    .header-menu .menu__nav > .menu__item > .menu__link .menu__link-text {
      color: #9096b8; }
    .header-menu .menu__nav > .menu__item > .menu__link .menu__hor-arrow {
      color: #6c7293; }
  .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link {
    background-color: none; }
    .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__link-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__link-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
      background-color: #5d78ff; }
    .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
      background-color: #5d78ff; }
    .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link .menu__link-text {
      color: #5d78ff; }
    .header-menu .menu__nav > .menu__item.menu__item--active > .menu__link > .menu__hor-arrow {
      color: #5d78ff; }
  .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link {
    background-color: none; }
    .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__link-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__link-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
      background-color: #5d78ff; }
    .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
      background-color: #5d78ff; }
    .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link .menu__link-text {
      color: #5d78ff; }
    .header-menu .menu__nav > .menu__item.menu__item--here > .menu__link > .menu__hor-arrow {
      color: #5d78ff; }
  .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link, .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link {
    background-color: none; }
    .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg g [fill], .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg:hover g [fill], .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--dot > span, .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
      background-color: #5d78ff; }
    .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--line > span, .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
      background-color: #5d78ff; }
    .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-text, .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-text {
      color: #5d78ff; }
    .header-menu .menu__nav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link > .menu__hor-arrow, .header-menu .menu__nav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link > .menu__hor-arrow {
      color: #5d78ff; }
  .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 15px 50px 0px rgba(82, 63, 105, 0.15); }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__link-icon {
      color: #cacad2; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__link-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #cacad2; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__link-icon svg:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
      background-color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
      background-color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__link-text {
      color: #5f6281; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item > .menu__link .menu__hor-arrow {
      color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link {
      background-color: #fafbff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link .menu__link-icon {
        color: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link .menu__link-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link .menu__link-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--active > .menu__link > .menu__hor-arrow {
        color: #5d78ff; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link {
      background-color: #fafbff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link .menu__link-icon {
        color: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link .menu__link-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link .menu__link-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--here > .menu__link > .menu__hor-arrow {
        color: #5d78ff; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link {
      background-color: #fafbff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon {
        color: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg g [fill], .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg:hover g [fill], .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--dot > span, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--line > span, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-text, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link > .menu__hor-arrow, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link > .menu__hor-arrow {
        color: #5d78ff; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content > .menu__item {
      border-right: 1px solid #f6f6f9; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__heading > .menu__link-text {
      color: #5f6281; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__heading > .menu__link-icon {
      color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__link-icon {
      color: #cacad2; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__link-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #cacad2; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__link-icon svg:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
      background-color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
      background-color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__link-text {
      color: #5f6281; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item > .menu__link .menu__hor-arrow {
      color: #cacad2; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link {
      background-color: #fafbff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link .menu__link-icon {
        color: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link .menu__link-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link .menu__link-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--active > .menu__link > .menu__hor-arrow {
        color: #5d78ff; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link {
      background-color: #fafbff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link .menu__link-icon {
        color: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link .menu__link-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link .menu__link-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--here > .menu__link > .menu__hor-arrow {
        color: #5d78ff; }
    .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link {
      background-color: #fafbff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon {
        color: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg g [fill], .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #5d78ff; }
        .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg:hover g [fill], .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--dot > span, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--dot > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--line > span, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-bullet.menu__link-bullet--line > span {
        background-color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-text, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link .menu__link-text {
        color: #5d78ff; }
      .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item:hover:not(.menu__item--here):not(.menu__item--active) > .menu__link > .menu__hor-arrow, .header-menu .menu__nav > .menu__item .menu__submenu > .menu__subnav .menu__content .menu__inner > .menu__item.menu__item--hover:not(.menu__item--here):not(.menu__item--active) > .menu__link > .menu__hor-arrow {
        color: #5d78ff; } }
