<div id="header" class="header grid grid--ver  header--fixed ">

    <button class="header-menu-wrapper-close" id="header_menu_mobile_close_btn"><i class="la la-close"></i></button>
    <div class="header-menu-wrapper grid__item grid__item--fluid" id="header_menu_wrapper">
        <div id="header_menu" class="header-menu header-menu-mobile  header-menu--layout- ">
            <ul class="menu__nav ">
                <li class="menu__item homeMenu menu__item--active " aria-haspopup="true">
                    <a href="/home" class="menu__link "><span class="menu__link-text">Home</span></a></li>
            </ul>
        </div>
    </div>


    <div class="header__topbar">


        <div class="header__topbar-item dropdown">
            <div class="header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                <span class="header__topbar-icon header__topbar-icon--warning"><i class="fa fa-globe"></i></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                <form>

                    <div class="head head--skin-light">
                        <h3 class="head__title">
                            License Type
                            <span class="space-15"></span>
                            <span class="btn btn-success btn-sm btn-bold btn-font-md licenseType">XXXXX</span>
                        </h3>
                    </div>

                    <div class="grid-nav grid-nav--skin-light">
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <span class="grid-nav__title">Domain Name</span>
                                <span class="grid-nav__desc domainName">XXXXX</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <span class="grid-nav__title">Domain Key</span>
                                <span class="grid-nav__desc domainKey">XXXXX</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <span class="grid-nav__title">API Key</span>
                                <span class="grid-nav__desc apiKey">XXXXX</span>
                            </a>
                        </div>
                        <div class="grid-nav__row">
                            <a href="#" class="grid-nav__item">
                                <span class="grid-nav__title">Token</span>
                                <span class="grid-nav__desc token">XXXXX</span>
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>


        <div class="header__topbar-item header__topbar-item--user">
            <div class="header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                <span class="header__topbar-icon"><i class="fa fa-user"></i></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                <!--begin: Head -->
                <div class="user-card user-card--skin-light notification-item-padding-x">
                    <div class="user-card__avatar">
                        <img class="hidden-" alt="Pic" src="/assets/media/users/default.jpg" />

                        <!--use below badge element instead the user avatar to display username's first letter(remove hidden class to display it) -->
                        <span class="badge badge--username badge--unified-success badge--lg badge--rounded badge--bold hidden">S</span>
                    </div>
                    <div class="user-card__name">
                        <span class="user_name">XXXXXX</span><br>
                        <small class="user_email">XXXXXX</small>
                    </div>


                </div>

                <!--end: Head -->

                <!--begin: Navigation -->
                <div class="notification">
                    <a href="/profile" class="notification__item">
                        <div class="notification__item-icon">
                            <i class="flaticon2-calendar-3 font-success"></i>
                        </div>
                        <div class="notification__item-details">
                            <div class="notification__item-title font-bold">
                                My Profile
                            </div>
                            <div class="notification__item-time">
                                Account settings and more
                            </div>
                        </div>
                    </a>
                    <a href="/activities" class="notification__item">
                        <div class="notification__item-icon">
                            <i class="flaticon2-rocket-1 font-danger"></i>
                        </div>
                        <div class="notification__item-details">
                            <div class="notification__item-title font-bold">
                                My Activities
                            </div>
                            <div class="notification__item-time">
                                Logs and notifications
                            </div>
                        </div>
                    </a>
                    <div class="notification__custom">
                        <a href="javascript:void(0)" onclick="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
                    </div>
                </div>

                <!--end: Navigation -->
            </div>
        </div>


    </div>

</div>