<div class="aside-menu-wrapper grid__item grid__item--fluid" id="aside_menu_wrapper">
    <div id="aside_menu" class="aside-menu  aside-menu--dropdown " data-menu-vertical="1" data-menu-dropdown="1"
         data-menu-scroll="0">
        <ul class="menu__nav ">
            <li class="menu__item  menu__item--submenu menu__item--submenu-fullheight menu__item--open menu__item--here"
                aria-haspopup="true" data-menu-submenu-toggle="click"
                data-menu-dropdown-toggle-class="aside-menu-overlay--on"><a href="javascript:;"
                                                                            class="menu__link menu__toggle"><i
                    class="menu__link-icon flaticon2-protection"></i><span class="menu__link-text">Applications</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <div class="menu__wrapper">
                        <ul class="menu__subnav">
                            <li class="menu__item  menu__item--parent menu__item--submenu-fullheight"
                                aria-haspopup="true"><span class="menu__link"><span
                                    class="menu__link-text">Applications</span></span></li>
                            <li class="menu__item  menu__item--submenu menu__item--open menu__item--here"
                                aria-haspopup="true" data-menu-submenu-toggle="click"
                                data-menu-submenu-mode="accordion"><a href="javascript:;"
                                                                      class="menu__link menu__toggle"><span
                                    class="menu__link-text">Resources</span><i
                                    class="menu__ver-arrow la la-angle-right"></i></a>
                                <div class="menu__submenu "><span class="menu__arrow"></span>
                                    <ul class="menu__subnav">
                                        <li class="menu__item  menu__item--active" aria-haspopup="true"><a
                                                href="index.html" class="menu__link "><span class="menu__link-text">Timesheet</span></a>
                                        </li>
                                        <li class="menu__item " aria-haspopup="true"><a href="#"
                                                                                        class="menu__link "><span
                                                class="menu__link-text">Payroll</span></a></li>
                                        <li class="menu__item " aria-haspopup="true"><a href="#"
                                                                                        class="menu__link "><span
                                                class="menu__link-text">Contacts</span></a></li>
                                        <li class="menu__item " aria-haspopup="true"><a href="#"
                                                                                        class="menu__link "><span
                                                class="menu__link-text">Members</span></a></li>
                                        <li class="menu__item " aria-haspopup="true"><a href="#"
                                                                                        class="menu__link "><span
                                                class="menu__link-text">Clients</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Finance</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Support</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Administration</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Management</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Order Management</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Delivery</span><span class="menu__link-badge"><span
                                    class="badge badge--brand">2</span></span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Products</span></a></li>
                            <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><span
                                    class="menu__link-text">Support</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu__item  menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="click"><a
                    href="javascript:;" class="menu__link menu__toggle"><i
                    class="menu__link-icon flaticon2-calendar-5"></i><span class="menu__link-text">Add</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent" aria-haspopup="true"><span class="menu__link"><span
                                class="menu__link-text">Add</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-icon la la-commenting"></i><span
                                class="menu__link-text">Post</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-icon la la-user"></i><span class="menu__link-text">Member</span></a>
                        </li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-icon la la-cart-arrow-down"></i><span
                                class="menu__link-text">Order</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-icon la la-coffee"></i><span class="menu__link-text">Entry</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item  menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="click"
                data-menu-link-redirect="1"><a target="_blank" href="javascript:;" class="menu__link menu__toggle"><i
                    class="menu__link-icon flaticon2-analytics-2"></i><span class="menu__link-text">Customers</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom" aria-haspopup="true"
                            data-menu-link-redirect="1"><span class="menu__link"><span
                                class="menu__link-text">Customers</span></span></li>
                        <li class="menu__item " aria-haspopup="true" data-menu-link-redirect="1"><a href="#"
                                                                                                    class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Reports</span></a></li>
                        <li class="menu__item  menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover"><a href="javascript:;" class="menu__link menu__toggle"><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Cases</span><i
                                class="menu__ver-arrow la la-angle-right"></i></a>
                            <div class="menu__submenu "><span class="menu__arrow"></span>
                                <ul class="menu__subnav">
                                    <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                            class="menu__link-icon flaticon-computer"></i><span class="menu__link-text">Pending</span><span
                                            class="menu__link-badge"><span class="badge badge--warning">10</span></span></a>
                                    </li>
                                    <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                            class="menu__link-icon flaticon-signs-2"></i><span class="menu__link-text">Urgent</span><span
                                            class="menu__link-badge"><span
                                            class="badge badge--danger">6</span></span></a></li>
                                    <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                            class="menu__link-icon flaticon-clipboard"></i><span
                                            class="menu__link-text">Done</span><span class="menu__link-badge"><span
                                            class="badge badge--success">2</span></span></a></li>
                                    <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                            class="menu__link-icon flaticon-multimedia-2"></i><span
                                            class="menu__link-text">Archive</span><span class="menu__link-badge"><span
                                            class="badge badge--info badge--inline">245</span></span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Clients</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Audit</span></a></li>
                    </ul>
                </div>
            </li>

            <li class="menu__item  menu__item--submenu menu__item--bottom" aria-haspopup="true"
                data-menu-submenu-toggle="click" data-menu-link-redirect="1"><a target="_blank" href="javascript:;"
                                                                                class="menu__link menu__toggle"><i
                    class="menu__link-icon flaticon2-file"></i><span class="menu__link-text">Documentation</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu "><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom" aria-haspopup="true"
                            data-menu-link-redirect="1"><span class="menu__link"><span
                                class="menu__link-text">Documentation</span></span></li>
                        <li class="menu__item " aria-haspopup="true" data-menu-link-redirect="1"><a href="#"
                                                                                                    class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">API Documentation</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Video Tutorials</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Solution Examples</span></a></li>
                    </ul>
                </div>
            </li>





            <li class="menu__item  menu__item--submenu menu__item--bottom-2" aria-haspopup="true"
                data-menu-submenu-toggle="click"><a href="javascript:;" class="menu__link menu__toggle"><i
                    class="menu__link-icon flaticon2-gear"></i><span class="menu__link-text">Settings</span><i
                    class="menu__ver-arrow la la-angle-right"></i></a>
                <div class="menu__submenu menu__submenu--up"><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom-2" aria-haspopup="true"><span
                                class="menu__link"><span class="menu__link-text">Settings</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--line"><span></span></i><span
                                class="menu__link-text">My Profile</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--line"><span></span></i><span
                                class="menu__link-text">Domain</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="menu__item  menu__item--submenu menu__item--bottom-1" aria-haspopup="true"
                data-menu-submenu-toggle="click">
                <a href="javascript:;" class="menu__link menu__toggle">
                    <i class="menu__link-icon flaticon2-help"></i><span class="menu__link-text">Help</span>
                    <span class="menu__link-badge">
                        <span class="badge badge--brand badge--rounded">2</span>
                    </span>
                    <i class="menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="menu__submenu menu__submenu--up"><span class="menu__arrow"></span>
                    <ul class="menu__subnav">
                        <li class="menu__item  menu__item--parent menu__item--bottom-1" aria-haspopup="true">
                            <span class="menu__link"><span class="menu__link-text">Help</span></span></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Support</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Blog</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Documentation</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Pricing</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Terms & Conditions</span></a></li>
                        <li class="menu__item " aria-haspopup="true"><a href="#" class="menu__link "><i
                                class="menu__link-bullet menu__link-bullet--dot"><span></span></i><span
                                class="menu__link-text">Privacy & Policy</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>