
<ul class="sticky-toolbar" style="margin-top: 30px;">
    <li class="sticky-toolbar__item sticky-toolbar__item--success" data-toggle="tooltip"
        title="Dashboard Editor" data-placement="right">
        <a href="/editor/dashboard" class=""><i class="fa fa-laptop-code"></i></a>
    </li>
    <li class="sticky-toolbar__item sticky-toolbar__item--brand" data-toggle="tooltip" title="Mobile Editor" data-placement="left">
        <a href="/editor/mobile"><i class="fa fa-mobile-alt"></i></a>
    </li>
    <li class="sticky-toolbar__item sticky-toolbar__item--warning" data-toggle="tooltip" title="Documentation" data-placement="left">
        <a href="/documentation"><i class="fa fa-file-alt"></i></a>
    </li>
</ul>
